<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center;">
        <h3>Bài viết mới vừa được đăng</h3>
        <p>
            <b>Khóa học</b>
        </p>
        <a href="http://localhost:8080/post-detail?id=N74631648">Xem ngay tại đây</a>

        <p>Hãy truy cập website để xem thêm nhiều bài viết mới.</p>
    </div>
</body>

</html>